global
    log /dev/log local0
    maxconn 4000
    user haproxy
    group haproxy
defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client  30s
    timeout server  30s
frontend http-in
    bind *:80
    default_backend homelab_http
frontend https-in
    bind *:443
    default_backend homelab_https
backend homelab_http
    server lxc 10.66.66.2:80
backend homelab_https
    server lxc 10.66.66.2:443
