# Copie este arquivo para argocd.local.yaml e adicione seu secret real.
# Este arquivo é ignorado pelo Git (definido no .gitignore) para evitar vazamento de credenciais.
configs:
  cm:
    dex.config: |
      connectors:
        - type: github
          id: github
          name: GitHub
          config:
            clientID: Ov23liBwKMn1JS9baAQZ
            clientSecret: SEU_CLIENT_SECRET_AQUI
